<div id="about" class="hidden" aria-hidden="true">
  <div class="about__wrapper type--fraunces-mid">
    <button id="about__close" aria-label="Close">
      <span>✳</span>
    </button>
    <div class="drop-cap-logo">
      {% include 'components/dropcap.svg' %}
    </div>
    <p>
      To send a recipe please fill out this form <a href="https://forms.gle/6eq5CQvaxHuYt37GA">here</a>. If you’d like to contribute to the project in general (or a whole bunch of recipes and don’t want to fill out the form over and over) drop us a line at contribute@hungry.zone
    </p>
    {# <p> 
      If you have an idea for a feature or want to request a change to this site (of any kind) please fill out this form <a href="https://forms.gle/ZMd6V8hR4CwM2oG96">here</a>. This includes everything from design to this very text.
    </p> #}
  </div>
</div>