@font-face {
  font-family: "Hugh";
  src: url(../fonts/hugh.woff2) format("woff2"),
       url(../fonts/hugh.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url(../fonts/fraunces-regularopmin.woff2) format("woff2"),
       url(../fonts/fraunces-regularopmin.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}