.recipe {
  letter-spacing: 0;
  line-height: 1.2;
}

.recipe>*:not(.recipe__title) {
  max-width: 720px;
  margin: 0 auto;
}

.recipe__lede, .recipe__main {
  font-family: "Fraunces", serif;
}

.recipe__lede {
  font-size: 40px;
}

.recipe__author {
  text-align: center;
}