---
layout: base.njk
eleventyNavigation:
  key: Home 
  order: 1
---

<div class="placeholder">
{% include 'components/dropcap.svg' %}
<h1 class="type--fraunces-large">Hungry Zone</h1>
An online, everyday, community cookbook, coming soon.
</div>