---
layout: layouts/base.njk
tags: 
  - recipe
  - post
eleventyNavigation:
  key: Recipe
  parent: Home
---

<article class="recipe">
  <h1 class="recipe__title">
    {{ title }}
  </h1>
  <p class="recipe__lede" style="color: {{ txcolor | safe }}; background-color: {{ bgcolor | safe }};">
    {{ lede }}
  </p>
  <div class="recipe__author">
    Contributed by {{ author }}
  </div>
  <div class="recipe__main">
    {{ content | safe }} 
  </div>
</article>