---
layout: layouts/base.njk
tags: 
  - recipe
  - post
eleventyNavigation:
  key: Recipe
  parent: Home
---
<h1 class="article-title" style="color: {{ txcolor | safe }};">{{ title }}</h1>
<article class="recipe">
  <div class="recipe__header">
    <div class="recipe__headline">
      <h2>{{ title }}</h2>
      <span class="recipe__time">{{ time }}</span>
    </div>
  </div>
  <div class="recipe__main">
    {{ content | safe }} 
  </div>
</article>